:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #007bff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
[data-theme="dark"] { /* Dark mode overrides */
  --background-color: #1a1a1a;
  --text-color: #ffffff;
  --primary-color: #66b3ff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* buttons to trigger various types of notification */

.buttons-container {
  display: flex;
  padding: 20px;
}

.buttons-container button {
  padding: 10px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  margin-right: 40px;
  background-color: transparent;
  cursor: pointer;
}

.button-success {
  border-color: #4caf50;
  color: #4caf50;
}

.button-error {
  border-color: #f44336;
  color: #f44336;
}

.button-info {
  border-color: #eea506;
  color: #eea506;
}

/* toast container to display stack of notification */

.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.toast {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  transition: opacity 0.3s ease;
}

.toast.error {
  background-color: #f44336;
}

.toast.success {
  background-color: #4caf50;
}

.toast.info {
  background-color: #eea506;
}

.toast button {
  margin-left: 10px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

/* custom toast component */

.custom-toast {
  padding: 16px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 10px;
}

.custom-toast p {
  margin: 0;
  padding: 0;
}

.custom-success {
  background-color: rgba(76, 175, 80, 0.2);
  border-color: #4caf50;
}

.custom-error {
  background-color: rgba(244, 67, 54, 0.2);
  border-color: #f44336;
}

.custom-info {
  background-color: rgba(238, 165, 6, 0.2);
  border-color: #eea506;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
